In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor
POSTGRESQL_HOST = '10.129.0.25'

!env | grep POST
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [2]:
!pip install ipython-sql
%load_ext sql
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
WARNING: There was an error checking the latest version of pip.

In [3]:
## Task 1a

In [4]:
%%sql $CONNECT_DATA
SELECT DISTINCT 
    (SELECT passenger_name FROM tickets WHERE ticket_no = '0005432312164') AS passenger_name,
    (SELECT departure_airport FROM flights WHERE flight_id = tf.flight_id) AS departure_airport,
    (SELECT arrival_airport FROM flights WHERE flight_id = tf.flight_id) AS arrival_airport
FROM ticket_flights AS tf
WHERE tf.ticket_no = '0005432312164'

4 rows affected.

[('ALEKSEY GERASIMOV', 'AAQ', 'EGO'),
 ('ALEKSEY GERASIMOV', 'DME', 'EGO'),
 ('ALEKSEY GERASIMOV', 'EGO', 'AAQ'),
 ('ALEKSEY GERASIMOV', 'EGO', 'DME')]

In [5]:
## Task 1b

In [6]:
%%sql $CONNECT_DATA
  SELECT passenger_name
FROM tickets
WHERE ticket_no = '0005432312164';
SELECT f.departure_airport, f.arrival_airport
FROM flights f
WHERE f.flight_id IN (
    SELECT flight_id
    FROM ticket_flights tf
    WHERE tf.ticket_no = '0005432312164')

1 rows affected.
4 rows affected.

[('DME', 'EGO'), ('AAQ', 'EGO'), ('EGO', 'DME'), ('EGO', 'AAQ')]

In [7]:
#Task 1c

In [8]:
%%sql $CONNECT_DATA
SELECT DISTINCT 
    t.passenger_name, 
    f.departure_airport, 
    f.arrival_airport
FROM tickets t
JOIN ticket_flights tf ON t.ticket_no = tf.ticket_no
JOIN flights f ON tf.flight_id = f.flight_id
WHERE t.ticket_no = '0005432312164'

4 rows affected.

[('ALEKSEY GERASIMOV', 'AAQ', 'EGO'),
 ('ALEKSEY GERASIMOV', 'DME', 'EGO'),
 ('ALEKSEY GERASIMOV', 'EGO', 'AAQ'),
 ('ALEKSEY GERASIMOV', 'EGO', 'DME')]

In [9]:
#Task 2

In [10]:
%%sql $CONNECT_DATA
 SELECT DISTINCT 
    ad1.city AS departure_city, 
    ad2.city AS arrival_city
FROM tickets t
JOIN ticket_flights tf ON t.ticket_no = tf.ticket_no
JOIN flights f ON tf.flight_id = f.flight_id
JOIN airports_data ad1 ON f.departure_airport = ad1.airport_code
JOIN airports_data ad2 ON f.arrival_airport = ad2.airport_code
WHERE t.passenger_name = 'ELLA DMITRIEVA'

7 rows affected.

[({'en': 'Khanty-Mansiysk', 'ru': 'Ханты-Мансийск'}, {'en': 'Moscow', 'ru': 'Москва'}),
 ({'en': 'Magnetiogorsk', 'ru': 'Магнитогорск'}, {'en': 'Yekaterinburg', 'ru': 'Екатеринбург'}),
 ({'en': 'Moscow', 'ru': 'Москва'}, {'en': 'Khanty-Mansiysk', 'ru': 'Ханты-Мансийск'}),
 ({'en': 'Moscow', 'ru': 'Москва'}, {'en': 'Yekaterinburg', 'ru': 'Екатеринбург'}),
 ({'en': 'Moscow', 'ru': 'Москва'}, {'en': 'Yuzhno-Sakhalinsk', 'ru': 'Южно-Сахалинск'}),
 ({'en': 'Yekaterinburg', 'ru': 'Екатеринбург'}, {'en': 'Magnetiogorsk', 'ru': 'Магнитогорск'}),
 ({'en': 'Yekaterinburg', 'ru': 'Екатеринбург'}, {'en': 'Moscow', 'ru': 'Москва'})]

In [11]:
#Task 3

In [12]:
%%sql $CONNECT_DATA
   SELECT aircrafts_data.aircraft_code, COUNT(seat_no) AS total_seats
FROM seats
JOIN aircrafts_data USING (aircraft_code)
GROUP BY aircrafts_data.aircraft_code
ORDER BY total_seats DESC

9 rows affected.

[('773', 402),
 ('763', 222),
 ('321', 170),
 ('320', 140),
 ('733', 130),
 ('319', 116),
 ('SU9', 97),
 ('CR2', 50),
 ('CN1', 12)]